4-Running-Node-Container/node_modules
5-Persistent-Data-With-Mongo-Container/.bash_history
5-Persistent-Data-With-Mongo-Container/.mongodb/
5-Persistent-Data-With-Mongo-Container/WiredTiger
5-Persistent-Data-With-Mongo-Container/WiredTiger.lock
5-Persistent-Data-With-Mongo-Container/WiredTiger.turtle
5-Persistent-Data-With-Mongo-Container/WiredTiger.wt
5-Persistent-Data-With-Mongo-Container/WiredTigerHS.wt
5-Persistent-Data-With-Mongo-Container/_mdb_catalog.wt
5-Persistent-Data-With-Mongo-Container/collection-0-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/collection-2-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/collection-4-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/collection-7-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/diagnostic.data/
5-Persistent-Data-With-Mongo-Container/index-1-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/index-3-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/index-5-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/index-6-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/index-8-5580444016306207576.wt
5-Persistent-Data-With-Mongo-Container/journal/
5-Persistent-Data-With-Mongo-Container/mongod.lock
5-Persistent-Data-With-Mongo-Container/sizeStorer.wt
5-Persistent-Data-With-Mongo-Container/storage.bson